.badge{
    padding: .5em 1em;
    font-size: .75rem;
    font-weight: bold;
    margin: 0;
    border-radius: 15px;
}

.no-response{
    color: var(--color-status-none);
    background-color: var(--color-status-none-bg);
}

.interviewing{
    color: var(--color-status-interview);
    background-color: var(--color-status-interview-bg);
}

.offer{
    color: var(--color-status-offer);
    background-color: var(--color-status-offer-bg);
}

.rejected{
    color: var(--color-status-rejected);
    background-color: var(--color-status-rejected-bg);
}


@media (min-width: 768px) {
    .badge{
        display: inline-block;
        padding: .5em 1em;
        min-width: 100px;
        text-align: center;
    }
}