*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-color: #F7F8FA;
    /* background-color: #1C2126; */
    color: #1C2126;
}

button{
    padding: .5em;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
