header{
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: #FFFFFF;
    padding: .5rem;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > span{
    font-size: 1.125rem;
    font-weight: bold;
}

/* sub-nav */
.sub-nav{
    display: flex;
    background-color: #FFFFFF;
    padding: .5rem 1rem;
    gap: 1rem;
}

.nav-link{
    text-decoration: none;
    color: #1C2126;
}

.active{
    text-decoration: underline;
}