.header-wrapper{
    background-color: var(--color-surface);
}

.header{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    width: 100%;
}

.header-nav{
    display: none;
    margin-left: 2rem;
}

.header-nav > .nav-link{
    margin-left: 1rem;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > span{
    font-size: 1.125rem;
    font-weight: bold;
}

/* sub-nav */
.sub-nav-wrapper{
    background-color: var(--color-surface);
}

.sub-nav{
    display: flex;
    padding: 1rem;
    padding-top: 0;
    gap: 1rem;
}

.nav-link{
    text-decoration: none;
    color: inherit;
}

.active{
    text-decoration: underline;
    color: var(--color-primary);
    font-weight: bold;
}

@media (min-width: 540px) {

    .header-nav{
        display: block;
    }
    
    .sub-nav-wrapper{
        display: none;
    }
}

@media (min-width: 768px) {
    .header{
        padding: 1rem;
    }

    .sub-nav{
        padding-top: 0;
    }
}