.home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
    margin:  5rem 0;
    gap: .5rem;
}

.home-page > h1,
.home-page > p{
    margin: 0;
    padding: .5em 0;
}

.home-page > p{
    width: 80%;
}

.home-page > .route-links-to-btns{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: .5em;
    margin: 2em 0;
    width: 100%;
    background-color: #2E5EAA;
    color: #FFFFFF;
    border: 1px solid #2E5EAA;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}

.home-page > .route-links-to-btns:hover,
.home-page > .route-links-to-btns:active{
    background-color: #254C87;
}