.notfound-page{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap:  1rem;
}

.notfound-page > h1,
.notfound-page > p{
    margin: 0;
}

.notfound-page > h1{
    color: #2E5EAA;
}

.notfound-page > p{
    text-align: center;
    color: #6B7280;
    font-weight: 600;
}

.notfound-page > .notfound-subtext{
    font-weight: 500;
}

.notfound-page > .route-links-to-btns{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: .5em;
    margin: 2em 0;
    width: 100%;
    background-color: #2E5EAA;
    color: #FFFFFF;
    border: 1px solid #2E5EAA;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}