.notfound-page{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap:  1rem;
}

.notfound-page > h1,
.notfound-page > p{
    margin: 0;
}

.notfound-page > h1{
    color: var(--color-primary);
}

.notfound-page > p{
    text-align: center;
    color: var(--color-text-muted);
    font-weight: 600;
}

.notfound-page > .notfound-subtext{
    font-weight: 500;
}


@media (min-width: 768px) {
    .notfound-page {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}